<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Listo de Libros</title>
</head>
<body>
    <h1>Listado de Libros</h1>
    <ul>
        {% for book in books %}
        <li>
            <p> <a href="{% url 'Book_Detail' pk=book.pk %}"> {{ book.title }} </a> </p>
            <p>author: {{ book.author.username }}</p>
            <p>rating: {{ book.rating }}</p>
        </li>
        {% endfor %}
    </ul>
    <p><a href="{% url 'Book_Create' %}">Nuevo Libro</a></p>
</body>
</html>